/* Write your CSS code here */
.blogList-cont {
  width: 90%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}
